$background-color: #323232;
$font-family: 'avenir', sans-serif;
$padding: 1rem;
$margin: 1rem;
$font-size: 1.5rem;
$font-size-secondary: 1rem;
$color: white;
$color-secondary: black;
$font-weight-700: 700;
$font-weight-600: 600;
$position: relative;
$position-secondary: absolute;
$flex-direction: column;
$flex-direction-secondary: row;
$display: flex;

